.router-link-active{color: red;}
.m-nav-item{color: green;}
.m-nav-item.active{color: red;}
.m-list{height: auto;line-height: 30px;overflow: hidden;}
.m-list.active{height: 60px;}
.m-loading{display: none; position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5)}
.m-loading.active{display: block}
.m-loading-text{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);color: red;}
