body{background: #dddddd;}
.m-message{
  font-size: 36px;
  color: #f66f0c;
}

.m-clothes-44kb{display: inline-block;width: 159px;height: 178px;background-image: url(./static/images/clothes_44kb.png);background-size: 100% 100%;}
.m-clothes-79kb{display: inline-block;width: 159px;height: 178px;background-image: url(./static/images/clothes_79kb.png);background-size: 100% 100%;}

.m-icon{font-size: 36px!important;color: #f66f0c;}


