body{background: #dddddd;}
.m-clothes-45kb{display: inline-block;width: 159px;height: 178px;background-image: url(./static/images/clothes_45kb.png);background-size: 100% 100%;}
.m-clothes-80kb{display: inline-block;width: 159px;height: 178px;background-image: url(./static/images/clothes_80kb.png);background-size: 100% 100%;}


