.m-nav-item{margin: 0 10px; text-decoration: none;}
.m-nav-item.router-link-active{color: #f66f0c;border-bottom: 1px solid #f66f0c;}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}