.m-dialog-wrap{display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background:rgba(0,0,0,0.1);}
.m-dialog-wrap.active{display: block;}
.m-dialog{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 300px;height: 300px;background:#ffffff;border-radius: 10px;}
.m-dialog-title{line-height: 50px;text-align: center;border-bottom: 1px solid #dddddd;}
.m-dialog-close{position: absolute;top: 0;right: 0;width: 50px;height: 50px;line-height: 50px;text-align: center;cursor: pointer;}