.m-wrap{display: flex;flex-direction: column; position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-header{height: 50px;background: red;color: #ffffff;}
.m-main{flex:1;height: 100%;overflow-y: auto;}
.m-footer{display: flex; height: 50px;border-top: 1px solid #dddddd;}
.m-footer-nav-item{text-decoration: none;flex: 1;text-align: center;line-height: 50px;color: #333333;}
.m-footer-nav-item.router-link-active{color: red;}
.m-home{display: flex;height: 100%;}
.m-sidebar{width: 150px;border-right: 1px solid #dddddd;}
.m-food-list{flex: 1;height: 100%;overflow-y: auto;}
.m-sidebar-nav-item{text-align: center;line-height: 40px;}
.m-sidebar-nav-item.active{color: red;}
.m-food-list-item{display: flex;margin: 10px 0 10px 10px;}
.m-food-list-item-img{width: 120px;}
.m-food-list-item-info{flex: 1;padding: 5px;}
.m-cart-food{margin: 0 0 0 20px;}




